.img1{
    margin:18px;
    height: 60px;
}
.bb{
    width:1520px;
}
input{
    border: 5px solid darkgrey;
    margin: 12px 4px;
    border-radius: 80px;
    text-align: center;
    width:800px;
    padding: 20px;
}
.aaa{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightskyblue;
}
.a{
    margin:12px;
    font-size: 15px;
    border: 5px solid black;
    border-radius: 40%;
    height: 80px;;
    width: 150px;
    text-align: center;
    padding:12px 30px; 
}
.b{
    border: 4px solid gray;
    border-radius: 40px;
    width: 100px;
    height: 60px;
}
body{
    background-color:lightsteelblue;
}