         .block{
            height: 100px;
            width: 100px;
            color: aquamarine;
            
        }
        h2{  
            margin-left: 485px
        }
        body{
            background-color: bisque;
        }
        form{
            font-size: 25px;
            border: 4px solid black;
            padding: 20px 80px 15px;
            width: 320px;
            margin-left: 320px;
        }
        input{
            padding : 9px;
            margin: 2px;
            border: 3px solid saddlebrown;
        }